.minHeight {
  height: 20%;
}
label { display: block; }
 
input.error {
    background: red;
    color: white;
}
label.error {
    color: red;
}
.ui-body-b{
	background-color: #FFFFFF;
	border-style: none; 
}
.ran li h3{
	text-transform: capitalize;
	font-size: 20px;
	color: green;
}

.minHeight h3{
	text-transform: capitalize;
	font-size: 20px;
	color: green;
}

img {
    vertical-align: middle;
} 