 

.minHeight {
  height:100px; 
}
label { display: block; }
 
input.error {
    background: red;
    color: white;
}
label.error {
    color: red;
}
.ui-body-b{
background-color: #FFFFFF;
border-style: none; 
}
 