#pos1 {
	background:url(/app/themes/images/icon-0.png) no-repeat top left;
	width:80px;
	height:80px;
}

#pos2 {
	background:url(/app/themes/images/icon-1.png) no-repeat top left;
	width:80px;
	height:80px;
}

#pos3 {
	background:url(/app/themes/images/icon-2.png) no-repeat top left;
	width:80px;
	height:80px;
}